@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	--ruby-red: #c70039;
	--failure-red: #D9534F;
	--success-blue: #5BC0DE;
}

h1 {
	color: var(--ruby-red);
}

input[type='text'] {
	color: var(--ruby-red);
}

#library-table {
	border-top: 1px solid var(--ruby-red);
	padding-top: 20px;
}

.success, .error {
	color: white;
	padding: 5px;
	margin: 5px 0 15px 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.success {
	background: var(--success-blue);
}

.error {
	background: var(--failure-red);
}
